<h3><%= @cocktail.name %></h3>
<% if @cocktail.photo.attached?%>
  <%= cl_image_tag @cocktail.photo.key %>
<% end%>
<% @cocktail.doses.each do |dose|%>
  <h4><%= dose.ingredient.name %> - <%= dose.description %></h4>
  <h3>
    <%= link_to 'Edit', edit_dose_path(dose) %>
    <%= link_to 'Destroy', dose_path(dose),
                        method: :delete,
                        data: {confirm: "Äre you sure"} %></h3>
<% end%>
<p><%= link_to 'Add New Dose', new_cocktail_dose_path(@cocktail) %></p>
